@using _1Fix.Utility
@using Webdiyer.WebControls.Mvc
@using _1Fix.Entity.Model
@model PagedList<CuSellPhone>
@{
    ViewBag.Title = "Page";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{
    <li class="item">
        <div class="box ">
            @if (item.CheckFacility.jb != null)
            {
                if (item.CheckFacility.jb.Trim() == "G")
                {
                    <label>GD 级</label>
                }
                else if (item.CheckFacility.jb.Trim() == "F")
                {
                    <label>FR 级</label>
                }
                else
                {
                    <label>@(item.CheckFacility.jb) 级</label>
                }
            }
            else
            {
                <label>@(item.CheckFacility.jb) 级</label>
            }
            <span>@*<img src="/Images/new_iphone/@(item.CheckFacility.phonename)_@(ImageHelper.GetImageColor(item.CheckFacility.color)).png">*@</span>
            <h3>
                @if (_1Fix.Common.WeiXinLoginUserManager.CurrLoginUser == null)
                {
                    <p>￥ @(item.SellPhone.PersonPrice)</p>
                }
                else
                {
                    if (_1Fix.Common.WeiXinLoginUserManager.CurrLoginUser.VipGroup == "3")
                    {
                        <p>￥ @(item.SellPhone.BigCustomerPrice)</p>
                    }
                    else if (_1Fix.Common.WeiXinLoginUserManager.CurrLoginUser.VipGroup == "2")
                    {
                        <p>￥ @(item.SellPhone.EnterprisePrice)</p>
                    }
                    else
                    {
                        <p>￥ @(item.SellPhone.PersonPrice)</p>
                    }
                }
            </h3>
            <div class="Purchase">
                <p><i>@(item.SellPhone.ClickNum == null ? 0 : item.SellPhone.ClickNum)人感兴趣</i></p>
            </div>
            <p>@(item.CheckFacility.phonename) @(item.CheckFacility.color) @(item.CheckFacility.nettype) @(item.CheckFacility.size) </p>
            <p>@(item.SellPhone.Title)</p>
            @*<a href="Second_hand_goods/31.html" class="btn">立即购买</a>*@
        </div>
    </li>
}